/*on all pages*/
@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;

body{
  background-image: url("https://media.timeout.com/images/102920649/image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Helvetica;
}
.jumbotron {
  text-align: center;
  padding:0px;
  background-color:white;
  font-family: Helvetica Neue;
}

.col-md-12{
  background-color: white;
  border: 10px solid white;
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 50px;
}

.links{
  text-align: center;
}

.nav{
  display: inline-block;
  background-color: white;
}

.navbar{
  background-color:white;
  color: black;
}

/*index.html*/

.content{
  background-color: white;
  text-align: center;
  border: 10px solid white;
  margin-top: 200px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 300px;
  padding: 100px;
}

#space{
  margin-top:30px;
}
/*portfolio*/

/*repository are the links to the github pages*/

.repository{
  text-decoration: none;
}

.repository a:link{
  color:black;
}

.repository a:visited{
  color:black;
}
.repository a:active{
  color: pink;
}

.repository p{
  margin-top: 60px;
  text-align: center;
}

.title{
  font-size: 30px;
}

.icon{
  text-align: center;
  max-width: 350px;
  height: 300px;
  padding: 10px;
}

#wiki{
  margin-top: -15px;
}

#azkaban{
  width: 30%;
}


/*About Me*/

.float img{
  float: left;
  margin-top: 60px;
  width: 300px;
}

.pad{
  margin-top: 60px;
}

.space{
  padding: 20px;
}

.cat{
  font-size: 18px;
}

.head{
  font-weight: bold;
}

dl{
  font-size: 15px;
}
