.jumbotron {
  text-align: center;
  padding: 100px;
  background-color: white;
}

.links{
  text-align: center;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.repository {
  text-decoration: none;
}

.repository a:hover{
  color: blue;
}

.repository p{
  margin-top: 60px;
  text-align: center;
}
