/*on all pages*/
.jumbotron {
  text-align: center;
  padding: 30px;
  background-color: white;
}

.links{
  text-align: center;
}

.nav{
  display: inline-block;
  background-color: white;
}

.navbar{
  background-color:white;
  color: black;
}
/*index.html*/
.center {
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
}

/*portfolio*/
.repository {
  text-decoration: none;
}

.repository a:hover{
  color: black;
  text-decoration: none;
}

.repository p{
  margin-top: 60px;
  text-align: center;
}

.title{
  font-size: 30px;
}

.icon{
  text-align: center;
  max-width: 100%;
  height: 300px;
  padding: 10px;
}

#azkaban{
  width: 30%;
}

#me{
  border: 1px solid black;
}

/*About Me*/

 .float img{
   float: left;
   margin-top: 60px;
   width: 30%;
}

.pad{
  margin-top: 60px;
}

.space{
  padding: 20px;
}

.cat{
  font-size: 18px;
}

.head{
  font-weight: bold;
}

dl{
  font-size: 15px;
}
